@import url("https://fonts.googleapis.com/css2?family=Festive&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #171717;
  color: #39a2db;

  h1,
  h2 {
    font-family: "Festive", sans-serif;
  }

  .navbar {
    width: 100%;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 4rem;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;

      li {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        margin-left: 20px;
        padding: 0.8rem 1.3rem;
        border-radius: 2rem;
        border: 2px solid transparent;

        &.sign-up:hover {
          border: 2px solid #ffeac9;
          transition: border 0.3s ease-in;
        }

        a {
          text-decoration: none;
          color: #ffeac9;
        }
      }
    }
  }

  .hero-section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 8rem;

    @keyframes float {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-30px);
      }

      100% {
        transform: translateY(0);
      }
    }

    img {
      animation: float 1.5s linear infinite;
      height: 500px;
      width: 400px;
    }

    .text-content {
      //   width: 40%;
      margin: 4rem 4rem 0 4rem;

      h2 {
        color: #ff96ad;
        font-size: 2.5rem;
      }

      p {
        font-family: "Roboto", sans-serif;
        color: #ffeac9;
        line-height: 1.5;
        margin: 1rem 0;
      }
    }
  }
}
