<html lang="en">
  <%- include('partials/header') %>

  <body>
    <%- include('partials/nav') %>

    <div class="hero-section">
      <img src="/assets/origami.svg" alt="origami" />

      <a href="/tutorials" class="tutorials-link">
        <h2>View tutorials</h2>
      </a>
    </div>
  </body>
</html>
