<html lang="en">
  <%- include('partials/header') %>

  <body>
    <%- include('partials/nav') %>

    <div class="hero-section">
      <img src="/assets/origami.svg" alt="origami" />

      <div class="text-content">
        <h2>Fancy doing a paper-based arts?</h2>
        <p>Here, we provide the best origami tutorials on the net!</p>
        <p>
          Best of all, it's entirely free! All you have to do is sign-up now,
          get access to the tutorials.
        </p>
      </div>
    </div>
  </body>
</html>
