<html lang="en">
  <%- include('partials/header') %>

  <body>
    <%- include('partials/nav') %>

    <form action="">
        <h2>Sign Up</h2>

        <div class="email">
            <label for="email">Email:</label>
        <input type="email" name="email" required>
        <div class="email-error"></div>
        </div>

       <div class="password">
            <label for="password">Password:</label>
        <input type="password" name="password" required>
        <div class="password-error"></div>
       </div>

        <button>Submit</button>
    </form>
    </div>
  </body>
</html>