<html lang="en">
  <%- include('partials/header') %>

  <body>
    <%- include('partials/nav') %>

    <main class="tutorials-content">
      <section>
        <h4>Reindeer</h4>
        <img src="assets/003-reindeer.svg" alt="reindeer" />
      </section>

      <section>
        <h4>Rabbit</h4>
        <img src="assets/008-rabbit.svg" alt="rabbit" />
      </section>

      <section>
        <h4>Elephant</h4>
        <img src="assets/014-elephant.svg" alt="elephant" />
      </section>

      <section>
        <h4>Cat</h4>
        <img src="assets/016-cat.svg" alt="cat" />
      </section>

      <section>
        <h4>Fox</h4>
        <img src="assets/017-fox.svg" alt="fox" />
      </section>

      <section>
        <h4>Turtle</h4>
        <img src="assets/033-turtle.svg" alt="turtle" />
      </section>
    </main>
  </body>
</html>
